html, body {
    padding: 0;
    margin: 0;
}
#headingsMapWrapper {
    width: 98%;
    text-align: left;
    font-weight: normal;
    overflow: auto;
    font-family: Arial, Verdana, sans-serif;
    font-size: 13px;
    color: #444;
    background: #FFF;
    background-size: 100% 24px;
    position: relative;
    padding: 25px 1% 5px;
}

#headingsMapWrapper h2 {
    font-size: 1em;
    margin: 10px 5px;
}

#headingsMapWrapper section {
    margin-top: 5px;
}
#headingsMapWrapper section + section {
    border-top: 1px solid #CCC
}

#headingsMapWrapper p {
    font-size: .8em;
    margin: 0 4px 4px;
    text-indent: 7px;
}

#headingsMapWrapper #headingsMap_outline ul,
#headingsMapWrapper #headingsMap_headings ul {
    font-weight: normal;
    font-size: 1em;
    color: #444;
    margin: 0;
    width: 95%;
    list-style: none;
    background: #FFF url(icons/tree_d.gif) 3px top repeat-y;
}

#headingsMapWrapper #headingsMap_outline ul ul,
#headingsMapWrapper #headingsMap_headings ul ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

#headingsMapWrapper #headingsMap_outline,
#headingsMapWrapper #headingsMap_headings {
    display: none;
    border: 1px solid #CCC;
    margin-top: -1px;
}

#headingsMapWrapper #headingsMap_outline section > ul,
#headingsMapWrapper #headingsMap_headings section > ul {
    font-weight: normal;
    padding-left: 10px;
    background-position: 13px top;
}

#headingsMapWrapper li:nth-last-child(1) {
    background: #FFF url(icons/tree_c.gif) 3px top no-repeat;
}

#headingsMapWrapper li {
    position: relative;
    font-weight: normal;
    font-size: 1em;
    color: #444;
    margin: 1px 0;
    padding: 0 5px 0 25px;
    background: url(icons/tree_b.gif) 3px top no-repeat;
    line-height: 1.4;
}

#headingsMapWrapper li:nth-last-child(1) {
    background: #FFF url(icons/tree_c.gif) 3px top no-repeat;
}

#headingsMapWrapper a {
    cursor: pointer;
}

#headingsMapWrapper a:focus {
    outline: none;
}

#headingsMapWrapper p,
#headingsMapWrapper a,
#headingsMapWrapper .no-headed{
    font-weight: normal;
    text-decoration: none;
    color: #333;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 0 3px 2px;
    margin-left: -2px;
}

#headingsMapWrapper a span {
    font-weight: normal;
    font-size: 1em;
}

#headingsMapWrapper .head_number:after {
    content: ' ';
}

#headingsMapWrapper #headingsMap_refresh,
#headingsMapWrapper #headingsMap_settings,
#headingsMapWrapper #headingsMap_closer {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: .6;
}

#headingsMapWrapper #headingsMap_refresh:hover,
#headingsMapWrapper #headingsMap_refresh:focus,
#headingsMapWrapper #headingsMap_settings:hover,
#headingsMapWrapper #headingsMap_settings:focus,
#headingsMapWrapper #headingsMap_closer:hover,
#headingsMapWrapper #headingsMap_closer:focus {
    opacity: .9;
}

#headingsMapWrapper #headingsMap_refresh {
    right: 52px;
    background: center/contain no-repeat url(./icons/refresh.png);
}

#headingsMapWrapper #headingsMap_settings {
    right: 27px;
    background: center/contain no-repeat url(./icons/settings.png);
}

#headingsMapWrapper #headingsMap_closer {
    right: 2px;
    background: center/contain no-repeat url(./icons/close.png);
}

#headingsMapWrapper:before {
    content: 'HeadingsMap';
    position: absolute;
    top: 0;
    left: 10px;
    line-height: 30px;
    font-weight: bold;
    font-size: 14px;
}

#headingsMapWrapper #outlineTab, #headingsMapWrapper #headingsTab {
    font-weight: normal;
    font-size: 1em;
    color: #444;
    margin-top: 10px;
    background-color: #CCC;
    display: inline-block;
    line-height: 24px;
    cursor: pointer;
    width: 40%;
    text-align: center;
    border-radius: 10px 10px 0 0;
    border: solid #CCC;
    border-width: 1px 1px 0;
}

#headingsMapWrapper a#outlineTab.active, #headingsMapWrapper a#headingsTab.active {
    font-weight: normal;
    font-size: 1em;
    color: #444;
    background-color: #FFF;
}

#headingsMapWrapper .no-headed,
#headingsMapWrapper .head_error {
    font-weight: normal;
    font-size: 1em;
    background-color: #FF7575
}

.collapser {
    display: block;
    cursor: pointer;
    position: absolute;
    left: 11px;
    font-size: 20px;
    top: -4px;
    z-index: 10;
}
.collapser.collapsed {
    top: -5px;
}
.collapser:before{
    content:"\025be";
}
.collapser.collapsed:before{
    content:"\025b8";
}